<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="dao" class="ioc.dto.IndexDaoImpl"></bean>-->
<!--    <bean id="dao1" class="ioc.dto.IndexDaoImpl1"></bean>-->

<!--    <bean id="index" class="ioc.service.IndexService">-->
<!--        <constructor-arg ref="dao1"/>-->
<!--    </bean>-->
</beans>